<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
    
        <div class="text-center">
            <img src="<%= asset_path 'logo2.jpg' %>" alt="" width="600" height="200" %>
        </div>  
        
        <br><br>

        <p class="lead text-black">
            La meilleure façon de gérer votre caisse, les rentrées et sorties
        </p>

        <br> <br><br><br>

        

</div>

<style>
    .bg {
      /* The image used */
      background-image: url(<%= asset_path 'logo2.jpg' %>);

      height: 100%; 

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }                   
</style>