<h1 class= "text-center">New Caisse</h1>


<%= render 'form', caiss: @caiss %>

<div class="col-md-2 offset-md-2">
    <%= button_to 'Retour', caisses_path, :method => "get", class:"btn btn-primary btn-lg" %>
</div>

